.App__client {
  $console-green: #2d2;
  // display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: #222222;
  background-color: rgba(31, 31, 31, 0.7 );
  border-top: 1px solid $console-green;
  border-left: 1px solid $console-green;
  color: $console-green;
  
  $primary-font: "Lucida Console", Monaco, monospace;
  font-family: $primary-font;
  font-size: 14px;

  padding: 1rem 2rem;
  width: 50%;
  max-width: 300px;
  height: 200px;
  overflow: auto;

  &.closed {
    // right: -100%;
  }
 
  h1, h2 {
    font-family: $primary-font;
    line-height: 1.3;
  }

  h1 {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1.05rem;
    text-transform: uppercase;
  }

  ul, li {
    list-style: square;
  }
  ul {
    padding-left: 1.1rem;
  }

  hr {
    border-top: 2px solid $console-green;
    margin: 0.5rem auto 1.4rem;
    width: calc(100% - 4rem);
  }
}